* {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

body {
  background: linear-gradient(100deg, white, lightgrey);
}

.nav-container {
  /* display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 30px;
  background: #fff; */
  display: flex;
  width: 100%;
  padding: 0px 30px;
}

.nav-container ul {
  /* display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0; */
  margin: auto;
}

.nav-container ul li {
  cursor: pointer;
}

.nav-container ul li:hover {
  transform: scale(1.05);
  font-weight: 700;
}

a {
  color: black !important ;
  text-decoration: none !important ;
}

.main-home-container {
  background-image: url(/img/backgroundHome.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.titulo-home {
  font-size: 125px;
  padding: 20px 40px;
  color: #da9f8b;
}

.p-home {
  display: flex;
  width: 650px;
  padding: 10px 40px;
  font-size: 1.3rem;
  text-align: justify;
  letter-spacing: 0.04rem;
}

#articulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
    width: 100%;
    margin: auto;
  padding: 35px 0;
}

.tarjeta {
  width: 450px;
  height: 720px;
  border: 1px solid #919191;
  box-shadow: 0px 1px 4px grey;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  padding: 10px;
  transition: 1s;
}

.tarjeta:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.tarjeta img {
  /* width: 100%; */
  display: flex;
  margin: auto;
  border-radius: 10px;
  height: 300px;
  width: 250px;
}

.p-titulo {
  font-weight: 800;
  font-size: 1.1rem;
  color: rgb(224 138 110);
}

.tarjeta p {
  padding: 3px 10px;
  text-align: justify;
  padding: 1px 20px;
}

.p-categoria {
  color: grey;
}

.p-descripcion {
  max-height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.p-precio {
  color: #4bb299;
  font-weight: 800;
}

#botonArriba
{
  position: fixed;
  bottom: 20px;
  right: -100px;
  width: 30px;
  transition: all 1s;
}