* {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}
/*-------------------------------------- Body ---------------------------------------*/
body {
  background: linear-gradient(100deg, white, lightgrey);
}

/*-------------------------------------- Nav ---------------------------------------*/

.navbar {
  box-shadow: 1px 1px 8px grey;
}

/*-------------------------------------- Nav index.html ---------------------------------------*/

.nav-home {
  display: flex;
  width: 100%;
  padding: 0px 50px;
  justify-content: space-between;
}

.btn-shop {
  display: flex;
  height: 40px;
  width: 110px;
  border-radius: 6px;
  border: 2px solid #d6d3d3;
  background: #f8ce3a;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.btn-shop:active {
  transform: scale(0.94);
}

/*-------------------------------------- Nav shop.html ---------------------------------------*/

.nav-container {
  display: flex;
  width: 100%;
  padding: 0px 30px;
}

.nav-container ul {
  margin: auto;
}

.nav-container ul li {
  cursor: pointer;
}

.nav-container ul li:hover {
  font-weight: 700;
}

.navbar-nav {
  --bs-scroll-height: 200px;
}

.input-buscador {
  padding: 6px 12px;
  margin-right: 8px;
  border: 1px solid grey;
  border-radius: 6px;
}

.input-buscador:focus {
  outline-style: none;
  border-color: #f8ce3a;
  box-shadow: 1px 1px 1px #f8ce3a;
}

.btn-buscar {
  width: 80px;
  border-radius: 6px;
  border: 2px solid #f8ce3a;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.btn-buscar:active {
  transform: scale(0.94);
  background: #f8ce3a;
}

a {
  color: black !important ;
  text-decoration: none !important ;
}

/*-------------------------------------- Main index.html ---------------------------------------*/

.main-home-container {
  background-image: url(img/backgroundHome.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.titulo-home {
  font-size: 125px;
  padding: 20px 40px;
  color: #f8ce3a;
}

.p-home {
  display: flex;
  width: 650px;
  padding: 10px 40px;
  font-size: 1.3rem;
  text-align: justify;
  letter-spacing: 0.04rem;
}

/*-------------------------------------- Div con articulos en shop.html ---------------------------------------*/

#articulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 80%;
  margin: auto;
  padding: 35px 0;
}

.tarjeta {
  width: 350px;
  height: 650px;
  border: 1px solid #919191;
  box-shadow: 0px 1px 4px grey;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  padding: 10px;
  transition: 1s;
}

.tarjeta:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.tarjeta img {
  display: flex;
  margin: auto;
  border-radius: 10px;
  height: 250px;
  width: 200px;
}

.p-titulo {
  font-weight: 900;
  font-size: 1.1rem;
  color: #ebb206;
}

.tarjeta p {
  padding: 3px 10px;
  text-align: justify;
  padding: 1px 20px;
}

.p-categoria {
  color: grey;
  margin-bottom: 4px;
}

.p-descripcion {
  max-height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.p-precio {
  color: #4bb299;
  font-weight: 800;
}

.p-rating {
  display: flex;
  gap: 6px;
}

.star-rating {
  height: 22px !important;
  width: 22px !important;
  margin: 0 !important;
}

/*-------------------------------------- Estilos de un Boton ---------------------------------------*/

#botonArriba {
  position: fixed;
  bottom: 20px;
  right: -100px;
  width: 30px;
  transition: all 1s;
}

/*-------------------------------------- Footer ---------------------------------------*/

.footer-container {
  background: #494949;
  display: flex;
  padding: 20px;
  gap: 30px;
}

.footer-tittle {
  color: #f8ce3a !important;
  font-size: 1.05rem !important;
  font-weight: bold;
  margin-bottom: 3px;
}

.footer-container li {
  list-style: none;
  color: #fff;
  padding: 1px;
  font-size: 0.8rem;
}

/*-------------------------------------- @Media queries ---------------------------------------*/

@media (max-width: 1410px) {
  #articulos {
    grid-template-columns: repeat(2, 1fr);
  }
  .tarjeta img {
    height: 200px;
    width: 150px;
  }
}

@media (max-width: 991px) {
  .nav-container {
    display: block;
  }
  .nav-container button {
    display: flex;
    float: right;
  }
  .tarjeta {
    width: 300px;
    height: 550px;
  }
  .tarjeta img {
    height: 150px;
    width: 100px;
  }
  .tarjeta p {
    font-size: 0.9rem;
  }
  .titulo-home {
    font-size: 95px;
  }
}

@media (max-width: 767px) {
  #articulos {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .tarjeta {
    width: 265px;
    height: 500px;
  }
  .p-titulo {
    margin-bottom: 5px;
  }
  .p-descripcion {
    font-size: 0.8rem;
  }
  .p-precio {
    margin-bottom: 5px;
  }
  .titulo-home {
    font-size: 55px;
  }
  .p-home {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
  }
}
